<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="default">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.191.100.99:8901" binding="netTcpBinding"
        bindingConfiguration="default" contract="VirtuaWinAdvisor.IPC.IVirtuaWinService"
        name="default" />
    </client>
  </system.serviceModel>
</configuration>