<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="default">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <diagnostics performanceCounters="Off" />
    <services>
      <service name="VirtuaWinAdvisor.Service.VirtuaWinService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*:8901"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" 
                  bindingConfiguration="default" contract="VirtuaWinAdvisor.IPC.IVirtuaWinService" /> 
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="False" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>